body {
  margin: 0;
  padding: 0;
  background-color: #0d1117; /* 背景色 */
  overflow: hidden;
  touch-action: none;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  /* ゲーム画面のサイズ制限 */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}