body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow: hidden; /* スクロール禁止 */
  touch-action: none; /* スマホでのズームやスクロールを無効化 */
  display: flex;
  justify_content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#game-container {
  width: 100%;
  height: 100%;
}